<body>
    <div class="blur-effect"></div>

    <div class="main-wrapper">
        <div class="login-card">

            <div class="right-panel">
                <div class="panel-content">
                    <h2>Bienvenido</h2>
                    <p>inicia sesión para gestionar tus citas médicas de forma rápida y segura.</p>
                </div>
                <div class="decorative-circle"></div>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="left-panel">
                <div class="form-header">
                    <img src="logo-texto.png" alt="Logo" class="form-logo">
                    <h3>inicia sesión</h3>
                    <p>Por favor use su correo y Contraseña</p>
                </div>

                <div class="input-group">
                    <input
                        type="email"
                        id="email"
                        formControlName="email"
                        placeholder="Email"
                        [class.error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">

                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                        <div class="error-message">
                            Email es requerido y debe ser válido
                        </div>
                    }
                </div>

                <div class="input-group">
                    <input
                        type="password"
                        id="password"
                        formControlName='password'
                        placeholder="Contraseña"
                        [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <i class="fa-regular fa-eye-slash toggle-password"></i>

                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                        <div class="error-message">
                            Contraseña es requerida (mínimo 6 caracteres)
                        </div>
                    }
                </div>

                <button
                    type="submit"
                    class="btn-login"
                    [disabled]="loginForm.invalid || loading">
                    {{ loading ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
                </button>

                @if (error) {
                    <div class="error-message">
                        {{ error }}
                    </div>
                }

                <p class="register-link">
                    no tienes cuenta?
                    <a routerLink="/auth/register">Regístrate</a>
                </p>
            </form>

        </div>
    </div>
</body>
