<section class="card historial-container">
    <div class="table-responsive">
        <table class="tabla-citas">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Médico</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
            @if (!isLoading()) {
              @if (appointments().length > 0) {
                @for (app of appointments(); track app.id) {
                  <tr>
                      <td>{{ app.date }}</td>
                      <td>{{ app.name }}</td>
                      <td>{{ app.doctor }}</td>

                      <td>
                        @switch (app.stateConfirmed) {
                            @case (APPOINTMENT_STATUS.CONFIRMED) {
                                  <span class="badge confirmado">Confirmado</span>
                                }
                                @case (APPOINTMENT_STATUS.PENDING) {
                                  <span class="badge pendiente">Pendiente</span>
                                }
                                @case (APPOINTMENT_STATUS.CANCELLED) {
                                  <span class="badge cancelado">Cancelado</span>
                                }
                                @case (APPOINTMENT_STATUS.SCHEDULED) {
                                  <span class="badge pendiente">Programado</span>
                                }
                            }
                      </td>
                  </tr>
                }

              } @else {
                <p>No hay citas registradas.</p>
              }
            } @else {
              <p>Cargando citas...</p>
              <div class="spinner"></div>
            }
                            </tbody>
        </table>
    </div>
</section>
