<section class="card detalle-cita-container">

    <div class="detalle-header">
        <h3>Detalles de la Cita</h3>
        @if (id()) {
          <span class="badge {{statusClass}}">{{statusLabel}}</span>
        }
    </div>

    <div class="detalle-body">

        <div class="info-block">
            @if (userType === USER_TYPES.PATIENT) {
              <label>Especialista</label>
            } @else {
              <label>Paciente</label>
            }
            <div class="doctor-profile">
                <div class="avatar-circle">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="doctor-text">
                    @if (userType === USER_TYPES.PATIENT) {
                      <p class="name">{{doctor()?.name}} {{doctor()?.lastname}}</p>
                      <p class="specialty">{{speciality}}</p>
                    } @else {
                      <p class="name">{{user()?.name}} {{user()?.lastname}}</p>
                      <p class="specialty">Edad: {{age}} años | Tel: {{number}}</p>
                    }
                </div>
            </div>
        </div>

        <div class="grid-2-col">
            <div class="info-block">
                <label>Fecha</label>
                <p class="data-text">{{cita()?.appointment_date?.getFullYear()}} -
                {{cita()?.appointment_date?.getMonth()}} - {{cita()?.appointment_date?.getDate()}}</p>
            </div>
            <div class="info-block">
                <label>Hora</label>
                <p class="data-text">{{cita()?.start_hour}} - {{cita()?.end_hour}}</p>
            </div>
        </div>

        <div class="info-block">
            <label>Motivo de la consulta</label>
            <div class="motivo-box">
                <p>{{cita()?.note}}</p>
            </div>
        </div>

        <div class="action-buttons">
            @if (cita()?.status !== APPOINTMENT_STATUS.CANCELLED && cita()) {
              <button class="btn-outline" (click)="redirectToAppoint()">Reagendar</button>
              <button class="btn-danger-outline" (click)="cancelAppointment()">Cancelar Cita</button>
            }
        </div>

    </div>

</section>
